.ipWidget-Messages
   .myl-module .messages:after {
   content: "Messages";
}
.ipWidget-Messages
    .myl-module-messages {
    overflow: hidden;
    min-height: 80px;
    max-height: 80px;
}
.ipWidget-Messages
    .myl-module-messages .messages {
    font-family: 'Open Sans';
    font-size: 8pt; 
    background: #f4f4f4;
    padding-top: 2px;
    padding-bottom: 8px;
    height: 80px;   
}
.ipWidget-Messages
    .myl-module-messages .messages ~ .messages {
    display: none;
}